body{
    font-family: 'Lato', sans-serif;
}
.orange-colour{
   color:orangered; 
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}
#content{
    padding-left: 10%;
    padding-right: 10%;
}
.half-width img{
    width: 100%;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.button-gap{
    padding-bottom: 4%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.about-me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
#recipe-part{
    display: flex;
    display: inline-block;
    text-align: center;
}
.food-items{
    display: flex;  
    padding-bottom: 5%; 
}
.food{
    text-align: center;
    border: 2px solid gray;
    border-radius: 25px;
    margin-left: 20px;
    
}
.food img{
    width: 100%;
}
.social-media{
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 5%;
}
.responce{
    padding-left: 10%;
}
.footer{
    display: flex;
    display: inline;
    text-align: center;
}
.back{
    background-color: darkslategray;
    color: whitesmoke;
    padding: 5px;
}
