body{
    font-family: 'Lato', sans-serif;
}
.orange-colour{
   color:orangered; 
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
#content{
    padding-left: 10%;
    padding-right: 10%;
}
.half-width img{
    width: 100%;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.button-gap{
    padding-bottom: 4%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.about-me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
#recipe-part{
    display: flex;
    display: inline-block;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}
.food-items{
        display: flex;            
    }
.food{
    width: 100%;
    margin-left: 3%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px grey;
    text-align: center;
    margin-bottom: 80px;
}
.food img{
    width: 100%;
}
.social-media{
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px grey; 
    text-align: center; 
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.responce{
    padding: 8%;
    padding-top: 0px;
    padding-bottom: 0px;
     
}
.footer{
    display: flex;
    display: inline;
    text-align: center;
}
.back{
    background-color: darkslategray;
    color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
}
